<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jst.server.tomcat.core.launchConfigurationType">
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk-25"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="start"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcatalina.base=&quot;C:\Java-Learning-Surrey-Uni\.metadata\.plugins\org.eclipse.wst.server.core\tmp0&quot; -Dcatalina.home=&quot;C:\Users\Rumen\Documents\apache-tomcat-11.0.4&quot; -Dwtp.deploy=&quot;C:\Java-Learning-Surrey-Uni\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps&quot; -Djava.library.path=&quot;C:\Users\Rumen\Documents\apache-tomcat-11.0.4\bin&quot;"/>
    <stringAttribute key="server-id" value="Tomcat v11.0 Server at localhost"/>
</launchConfiguration>
